@import "../../styles/abstracts/abstracts";

.header {
  @include fontValues(2rem, 600, initial, $whiteColor);
  background-color: $primaryColor;
  color: $whiteColor;
  position: sticky;
  top: 0;
  margin-bottom: 3rem;
  padding: 1rem 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__details {
    display: flex;

    img {
      vertical-align: sub;
      margin-top: 0.3rem;
      margin-right: 1.5rem;
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  &__options {
    display: flex;
    align-items: center;

    span {
      margin-right: 2rem;
    }
  }
}
